/**Fonts**/

/**Logo-Title**/
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/**Principal font**/
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');


/**End of fonts**/


body{
    margin: 0;
    background: white;
}

.main_font{
    font-family: 'Jacques Francois' , sans-serif;
}

/**Header**/
header{
    display: flex;
    margin: 0;
    width: 100%;
    background-color: #259E9E;
    height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.logo_section{
    display: flex;
    margin-left: 10%;
}
.logo_section img{
    display: block;
    width: 65px;
}
.logo_title{
    font-size: 18px;
    color: white;
    margin-left:10px;
    font-family: 'Italianno' , sans-serif;
    transform: translateY(25%);
}

.phone_menu img{
    display: block;
    width: 24px;
    height: 24px;
    transform: translateY(100%);
}
.phone_menu img:hover{cursor: pointer;}

.menu_container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #005a5ad6;
    transform: translateX(100%);
    transition: .2s ease-in-out;
    z-index: 1;
}
.text_menu{
    display: block;
    text-align: center;
    margin-top:40px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.text_menu_1{margin-top:200px;}
.close_menu{color: rgb(255, 126, 126);}

/**Pour le menu:
- Reste a fermer lorsqu'on clique sur l'un des liens ou biens si on clique à un endroit différent de la page**/

/**End of Header**/

/**Banner Settings**/
.banner_background{
    display: block;
    width: 100%;
}
.banner_img{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    transform: translateY(-80%);
    left: 10%;
}
/**End of banner**/

/**Ring menu - main section **/
.ring_menu{
    display: flex;
    width: 105px;
    justify-content: space-between;
    margin:auto;
    margin-top:26px;
    cursor: pointer;
}
/**End of ring menu**/

/**main nav menu**/
.nav_menu{
    display: block;
    margin-top:45px;
    margin-left:10%;
}

.nav_menu_options{
    display: block;
    background: #B8262E;
    width: 135px;
    height: 20px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-top:14px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.25); 
}
/**End of main nav menu**/

/**Map info settings**/

.map_info{
    display: block;
    width: 80%;
    max-width: 412px;
    margin:auto;
    margin-top:56px;
    margin-bottom:56px;
}

.map_info_title{
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
}
.map_info_image{
    display: block;
    width: 100%;
    height: 212px;
    object-fit: cover;
    box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.25)
}
/**End of map info settings**/

/**Fohow info settings**/

.fohow_info{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.fohow_info_title{
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
}

.fohow_info_txt{font-size: 12px;}

/**Fohow Helps settings**/

.fohow_helps{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.fohow_helps_section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.fohow_helps_section p{
    width: 40%;
    font-size: 12px;
}

/**Advices section**/

.advices_sections{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.advice_section_title{
    font-size: 14px;
    text-align: center;
    margin-bottom:18px;
}

.gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 60vw);
	grid-template-rows: 1fr;
	grid-row-gap: 1rem;
	overflow: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    margin-bottom:56px;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
    width: 160px;
}
.user_info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.user_info img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.user_info > p{
    font-size: 14px;
    text-align: center;
    margin: auto;
}
li > p{
    font-size: 12px;
}
.stars{
    width: 100%;
}
.stars img{
    width: 100%;
}

/**End of advices section**/

/**Advices commentary section**/

.advice_form{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.advice_form_title{
    font-size: 14px;
    text-align: center;
    margin-bottom:18px;
}

form{
    display: block;
    width: 100%;
}
form input, form textarea{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    background: #F2F2F2;
    box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.25);
    display: block;
    width: 100%;
    padding: 5px;
    margin: auto;
    margin-bottom:15px;
}
form textarea{
    height: 100px;
    resize:none;
}

.termens_checkbox input{
    width: 20px;
    height: 20px;
    margin-left:0px;
    margin-top:20px
}
.termens_checkbox input, .termens_checkbox p{display: block;}
.termens_checkbox p{
    width: 80%;
    margin-right:0px;
    font-size: 12px;
}

.termens_checkbox{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.submit_form_button{
    width: 65px;
height: 27px; 
    border: none;
    border-radius: 6px;
background: #B8262E;
box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.25); 
color: white;
font-size:14px;
cursor: pointer;
}