/**Fonts**/

/**Logo-Title**/
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/**Principal font**/
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');


/**End of fonts**/


body{
    margin: 0;
}

.main_font{
    font-family: 'Jacques Francois' , sans-serif;
}

/**Header**/
header{
    display: flex;
    margin: 0;
    width: 100%;
    background-color: #259E9E;
    height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.logo_section{
    display: flex;
    margin-left: 10%;
}
.logo_section img{
    display: block;
    width: 65px;
}
.logo_title{
    font-size: 18px;
    color: white;
    margin-left:10px;
    font-family: 'Italianno' , sans-serif;
    transform: translateY(25%);
}

.phone_menu img{
    display: block;
    width: 24px;
    height: 24px;
    transform: translateY(100%);
}
.phone_menu img:hover{cursor: pointer;}

.menu_container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #005a5ac6;
    transform: translateX(100%);
    transition: .2s ease-in-out;
}
.text_menu{
    display: block;
    text-align: center;
    margin-top:40px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.text_menu_1{margin-top:200px;}

/**Pour le menu:
- Reste a fermer lorsqu'on clique sur l'un des liens ou biens si on clique à un endroit différent de la page**/

/**End of Header**/