/**Fonts**/

/**Logo-Title**/
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/**Principal font**/
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');


/**End of fonts**/


body{
    margin: 0;
    background: white;
}

.main_font{
    font-family: 'Jacques Francois' , sans-serif;
}

/**Header**/
header{
    display: flex;
    margin: 0;
    width: 100%;
    background-color: #259E9E;
    height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.logo_section{
    display: flex;
    margin-left: 10%;
}
.logo_section img{
    display: block;
    width: 65px;
}
.logo_title{
    font-size: 18px;
    color: white;
    margin-left:10px;
    font-family: 'Italianno' , sans-serif;
    transform: translateY(25%);
}

.phone_menu{
    display: block;
    width: 24px;
    height: 24px;
    margin-right:10%;
}

.phone_menu img{
    display: block;
    width: 24px;
    height: 24px;
    transform: translateY(100%);
}

.desktop_menu{
    display: none;
}

@media (min-width:1040px) {
    .phone_menu{display: none;}

    .desktop_menu{
        display: flex;
        margin-right: 10%;
        transform: translateY(30%);
    }

    .desktop_menu a{
        text-decoration: none;
        margin-left:18px;
        font-size: 18px;
        color: white;
        transition: .2s ease-in-out;
    }
    .desktop_menu a:hover{
        color: yellow;
        transition: .2s ease-in-out;
    }
}

.phone_menu img:hover{cursor: pointer;}

.menu_container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #005a5ad6;
    transform: translateX(100%);
    transition: .2s ease-in-out;
    z-index: 1;
}
.text_menu{
    display: block;
    text-align: center;
    margin-top:40px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.text_menu_1{margin-top:200px;}
.close_menu{color: rgb(255, 126, 126);}

/**Pour le menu:
- Reste a fermer lorsqu'on clique sur l'un des liens ou biens si on clique à un endroit différent de la page**/

/**End of Header**/

/**Banner Settings**/
.banner_background{
    display: block;
    width: 100%;
    transition: .2s ease-in-out;
}
.banner_img{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    transform: translateY(-80%);
    left: 10%;
    transition: .2s ease-in-out;
}

@media (min-width:1040px) {
    .banner_background{
        height: 500px;
        object-fit: cover;
        transition: .2s ease-in-out;
    }

    .banner_img{
        width: 240px;
        height: 240px;
        transition: .2s ease-in-out;
    }
}

.banner_filter, .banner_filter_title{display: none;}

@media (min-width:1040px) {
    .banner_filter{
        display: block;
        width: 100%;
        height: 500px;
        background: #00000062;
        position: absolute;
        top:100px;
    }

    .banner_filter_title{
        display: block;
        width: 100%;
        text-align: center;
        color: white;
        font-family: 'Italianno' , sans-serif;
        font-size: 58px;
        z-index: 2;
        position: absolute;
        top:200px;
    }

    .banner_img{z-index: 2;}
}

/**End of banner**/

/**Ring menu - main section **/
.ring_menu{
    display: flex;
    width: 105px;
    justify-content: space-between;
    margin:auto;
    margin-top:26px;
    cursor: pointer;
}

@media (min-width:1040px) {
    .ring_menu{
        width: 280px;
    }
    .ring_menu img{
        width: 80px;
    }
}

/**End of ring menu**/

/**main nav menu**/
.nav_menu{
    display: block;
    margin-top:45px;
    margin-left:10%;
}

.nav_menu_options{
    display: block;
    background: #B8262E;
    width: 135px;
    height: 20px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-top:14px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.25); 
}

@media (min-width:1040px) {
    .nav_menu{
        display: flex;
        width: 80%;
        max-width: 840px;
        margin:auto;
        margin-top:40px;
        justify-content: space-between;
    }
    .nav_menu_options{
        font-size: 18px;
        width: 200px;
        height: 40px;
        line-height: 2em;
        text-align: center;
        transition: .2s ease-in-out;
    }
    .nav_menu_options:hover{background:#b8262dab; transition: .2s ease-in-out;}
}

/**End of main nav menu**/

/**Map info settings**/

.map_info{
    display: block;
    width: 80%;
    max-width: 412px;
    margin:auto;
    margin-top:56px;
    margin-bottom:56px;
}

.map_info_title{
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
}
.map_info_image{
    display: block;
    width: 100%;
    height: 212px;
    object-fit: cover;
    box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.25)
}

@media (min-width:1040px) {
    .map_info{max-width: 612px;}

    .map_info_title{font-size: 18px;}

    .map_info_image{height: 412px;}
}

/**End of map info settings**/

/**Fohow info settings**/

.fohow_info{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.fohow_info_title{
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
}

.fohow_info_txt{font-size: 12px;}

@media (min-width:1040px) {
    .fohow_info{max-width: 612px;}

    .fohow_info_title{font-size: 18px;}

    .fohow_info_txt{font-size: 16px;}
}

/**Fohow Helps settings**/

.fohow_helps{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.fohow_helps_section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.fohow_helps_section p{
    width: 40%;
    font-size: 12px;
}

@media (min-width:1040px) {
    .fohow_helps{max-width: 612px;}

    .fohow_helps_section p{font-size: 16px;}
}

/**Advices section**/

.advice_section{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.advices_sections{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.advice_section_title{
    font-size: 14px;
    text-align: center;
    margin-bottom:18px;
}

.gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 60vw);
	grid-template-rows: 1fr;
	grid-row-gap: 1rem;
	overflow: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    margin-bottom:56px;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
    width: 160px;
}
.user_info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.user_info img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.user_info > p{
    font-size: 14px;
    text-align: center;
    margin: auto;
}
li > p{
    font-size: 12px;
}
.stars{
    width: 100%;
}
.stars img{
    width: 100%;
}

@media (min-width:600px) {
    .advices_sections{
        margin-left:10px;
    }

    .advice_section{max-width: 612px;}

    .advices_sections{
        max-width: 240px;
    }

    .stars{max-width: 240px;}

    .gallery {grid-template-columns: repeat(10, 40vw);}
}

@media (min-width:1040px) {
    .gallery{grid-template-columns: repeat(10, 20vw);}

    .advice_section_title{
        font-size: 18px;
    }
}

/**End of advices section**/

/**Advices commentary section**/

.advice_form{
    display: block;
    width: 80%;
    max-width: 412px;
    margin: auto;
    margin-bottom:56px;
}

.advice_form_title{
    font-size: 14px;
    text-align: center;
    margin-bottom:18px;
}

form{
    display: block;
    width: 100%;
}
form input, form textarea{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    background: #F2F2F2;
    box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.25);
    display: block;
    width: 100%;
    padding: 5px;
    margin: auto;
    margin-bottom:15px;
}
form textarea{
    height: 100px;
    resize:none;
}
#image_preview{display: block; height: 40px;}
@media (min-width:1040px){
    #image_preview{height: 60px;}
}

.termens_checkbox input{
    width: 20px;
    height: 20px;
    margin-left:0px;
    margin-top:20px
}
.termens_checkbox input, .termens_checkbox p{display: block;}
.termens_checkbox p{
    width: 80%;
    margin-right:0px;
    font-size: 12px;
}

.termens_checkbox{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.submit_form_button{
    width: 65px;
height: 27px; 
    border: none;
    border-radius: 6px;
background: #B8262E;
box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.25); 
color: white;
font-size:14px;
cursor: pointer;
}

@media (min-width:1040px) {
    .advice_form{max-width: 612px;}

    .advice_form_title{font-size: 18px;}

    .advice_form_input{
        padding: 10px;
        font-size: 16px;
    }
    #advice_textarea{
        padding: 10px;
        font-size: 16px;
        height: 250px;
    }

    .termens_checkbox{justify-content:left;}
    .termens_checkbox p{font-size: 18px;}

    .termens_checkbox input{
        margin: auto;
    }

    .submit_form_button{
        width: 120px;
        height: 48px; 
        font-size: 18px;
    }
}

/**Footer**/

footer{
    display: flex;
    justify-content: space-between;
    height: 200px;
    background: #259E9E;
    padding-left: 10%;
    padding-right: 10%;
}

.footer_sections{
    display: block;
    width: 40%;
}
.footer_sections p{
    color: white;
    font-size: 18px;
}

@media (max-width:750px) {
    footer{
        margin-bottom:0px;
    }

    .footer_sections p{
        font-size: 12px;
    }
}